<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ro.qoffice.everyonesdj" >

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="ro.qoffice.everyonesdj.activity.StartActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ro.qoffice.everyonesdj.activity.ScanActivity"
            android:label="@string/title_activity_scan"
            android:parentActivityName="ro.qoffice.everyonesdj.activity.StartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ro.qoffice.everyonesdj.activity.StartActivity" />
        </activity>
        <activity
            android:name="ro.qoffice.everyonesdj.activity.ConnectActivity"
            android:label="@string/title_activity_connect"
            android:parentActivityName="ro.qoffice.everyonesdj.activity.StartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ro.qoffice.everyonesdj.activity.StartActivity" />
        </activity>
        <activity
            android:name="ro.qoffice.everyonesdj.activity.WelcomeActivity"
            android:label="@string/title_activity_welcome"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
        <activity
            android:name="ro.qoffice.everyonesdj.activity.PlaylistActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:label="@string/title_activity_playlist"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
    </application>

</manifest>
