/Everyones DJ Player/Player/nbproject/private/
/Everyones DJ Player/Updater/nbproject/private/
/Everyones DJ Player/Common Libraries/nbproject/private/
/Everyones DJ Player/Updater/build/
/Everyones DJ Player/Common Libraries/dist/
/Everyones DJ Player/Common Libraries/build/
/Everyones DJ Player/Updater/dist/
/Everyones DJ Player/Player/build/
/Everyones DJ Player/Player/dist/
/Everyones DJ Player/Player/playlist.edp
/Everyones DJ Player/Player/settings.edp
